
.profile
{
    align-items: center;
    text-align: center;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    text-decoration-color: #b80579;
    color:navy;
    font-size: 30px;
}
.profPic
{
    height: 350px;
    width: 500px;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

