<div class="contact">
    <div class="profile">
        <h1>Lupita D'Nunez</h1>
        <img class = 'profPic' src="assets/img/port.jpg" >
        <div class="container">
            <h3>Call me: <a href="tel:8597772140" target="_blank">(859)777-2140 <i class="bi bi-telephone"></i></a></h3>
            <h3>Set up an appointment: <a href="https://theglamsquadsalon.glossgenius.com/services" target="_blank">The Glam Squad <i class="bi bi-calendar-check"></i></a></h3>
            <h3>Follow me on Instagram: <a href="https://www.instagram.com/lupitad_nunez/" target="_blank">lupitad_nunez <i class="bi bi-instagram"></i></a></h3>
            <h3>Follow me on Facebook: <a href="https://www.facebook.com/lupita.nunez.10888938" target="_blank">Lupita D'Nunez <i class="bi bi-facebook"></i></a></h3>  
        </div>
    </div>

</div>

