<div class="contact">
    <div class="profile">
        <h1>Lupita</h1>
        <img class = 'profPic' src="assets/img/port.jpg" >
        <div class="container">
            <!-- <h3>Call me: <a href="tel:8592795028" target="_blank">(859)-279-5028 <i class="bi bi-telephone"></i></a></h3> -->
            <!--<h3>Set up an appointment: <a href="https://theglamsquadsalon.glossgenius.com/services" target="_blank">The Glam Squad <i class="bi bi-calendar-check"></i></a></h3>-->
            <h3>Follow me on Instagram: </h3>
            <h3><a href="https://www.instagram.com/makeupandhair_bylupita/" target="_blank">makeupandhair_bylupita <i class="bi bi-instagram"></i></a></h3>
            <h3>Follow me on Facebook: </h3>  
            <h3><a href="https://www.facebook.com/profile.php?id=100089529589362" target="_blank">Makeup & Hair by Lupita <i class="bi bi-facebook"></i></a></h3>
        </div>
    </div>

</div>

