
.labels
{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-decoration-color: #b80579;
    color:navy;
    font-size: 30px;
}
.swipers
{
    text-align:center;
    margin:0; padding:0;
}
