
<div class="content">
    
    <h2 class="labels">Hair Styling</h2>
    <div class="swipers">
    
        <ng-image-slider #nav
        [images]="hairStyle"
        [infinite]="true"
        [autoSlide]="1"
        [imageSize]="{width: '15%', height: 200}"
        [animationSpeed]="1"
        [showArrow]="true"
        slideImage="1"
        ></ng-image-slider>
  </div>
  <h2 class="labels">Hair Cuts</h2>
    <div class="swipers">
    
        <ng-image-slider #nav
        [images]="hairStyle"
        [infinite]="true"
        [autoSlide]="1"
        [imageSize]="{width: '15%', height: 200}"
        [animationSpeed]="1"
        [showArrow]="true"
        slideImage="1"
        ></ng-image-slider>
  </div>

  <h2 class="labels">Balayage</h2>
    <div class="swipers">
    
        <ng-image-slider #nav
        [images]="hairStyle"
        [infinite]="true"
        [autoSlide]="1"
        [imageSize]="{width: '15%', height: 200}"
        [animationSpeed]="1"
        [showArrow]="true"
        slideImage="1"
        ></ng-image-slider>
  </div>

  <h2 class="labels">Make Up</h2>
  <div class="swipers">
  
      <ng-image-slider #nav
      [images]="hairStyle"
      [infinite]="true"
      [autoSlide]="1"
      [imageSize]="{width: '15%', height: 200}"
      [animationSpeed]="1"
      [showArrow]="true"
      slideImage="1"
      ></ng-image-slider>
</div>

</div>