<div class="container-fluid footer">
    <div class="row">
        <div class = "col-lg-4">
            <h1>Lupita D'Nunez</h1>
        </div>
        <!-- Nav -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="Contact">Contact Me</a>
            <a routerLink="Gallery">Gallery</a>
        </div>
        <!-- Socials -->
        <div class="col-lg-4">
            <a href="https://www.facebook.com/lupita.nunez.10888938" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/lupitad_nunez/?fbclid=IwAR2YVwvRQTYMomhbmsMA4M2XCoKQuoUtLquN38BLYy6N6MqmjAPKp9V411s" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        
    </div>
</div>