<div class="container-fluid footer">
    <div class="row">
        <div class = "col-lg-4">
            <h1>Lupita Makeup & Hair</h1>
        </div>
        <!-- Nav -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="Contact">Contact Me</a>
        </div>
        <!-- Socials -->
        <div class="col-lg-4">
            <a href="https://www.facebook.com/profile.php?id=100089529589362" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/makeupandhair_bylupita/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        
    </div>
</div>